.register {
    height: 100vh;
    background-image: url("../../img/1624453259_30-phonoteka_org-p-khakerskie-oboi-na-telefon-krasivo-36.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // padding: 5px;
    .icon-container {
        margin-top: 10px;
        margin-left: 10px;
        a {
            .icon-container img {
                height: 20%;
                width: 20%;
            }
        }

        a:hover {
            img {
                content: url('../../img/Frame_9_hover.png');
            }
        }
    }
    
    
    .register-form{
        width: 35%;
        height: 50%;
        margin-top: 100px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        align-content: center;

        h1{
            font-size: 50px;
            font-family: 'JetBrainsMono';
            color: #ffffff;
        }

        form{
            height: 70%;
            width: 110%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-content: center;

            .nickNameInput {
                align-self: center;
                width: 60%;
                text-indent: 10px;
                height: 12%;
                min-height: 20px;
                border-radius: 10px;
                font-size: 15px;
                font-family: 'JetBrainsMono';
            }
            .nameInput{
                align-self: center;
                width: 60%;
                height: 12%;
                text-indent: 10px;
                border-radius: 10px;
                text-align: left;
                margin-top: 10px;
                font-size: 15px;
                font-family: 'JetBrainsMono';
            }

            .passwordInput{
                align-self: center;
                width: 60%;
                height: 12%;
                text-indent: 10px;
                border-radius: 10px;
                text-align: left;
                margin-top: 10px;
                font-size: 15px;
                font-family: 'JetBrainsMono';
            }
        }

        button {
            height: 12%;
            width: 50%;
            border: 2px solid rgb(236, 36, 36);
            background-color: rgb(236, 36, 36);
            color: white;
            font-weight: bold;
            font-size: large;
            font-family: 'JetBrainsMono';
            margin-top: 10px;
            align-self: center;
            cursor: pointer;
            border-radius: 10px;
        }

        button:hover {
            color: black;
            background-color: rgb(194, 187, 187);
        }

        a {
            margin-top: 20px;
            font-size: 15px;
            font-family: 'JetBrainsMono';
            color: rgb(236, 36, 36);
        }
    }
}